.player-card {
	border:1px solid black;
	display:inline-block;
	text-align: center;
	color: white
}
.player-roster {
	text-align: center;
}
.panel-heading{
	text-align: center;
	text-shadow: 2px 2px grey
}
.container{
	background: silver
}
body {
    background-image: url("nfl map.png");
    background-size; cover;
}
.panel-body{
	    background-color: royalblue
}
